body {
    font-family: "Times New Roman";
    font-size: 16px;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 100% auto;
}

h1 {
    color: #FFFFFF;
    font-family: "Times New Roman";
    text-align: center;
}

h2 {
    color: #0000FF;
    text-align: center;
}

table {
    border-collapse: collapse;
    background-color: #F2F3F4;
    margin: auto;
}

table[width="100%"] {
    height: 100%;
}

th {
    background-color: #FADBD8;
    font-weight: bold;
}

td, th {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

p {
    font-size: 18px;
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
}